<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class='nav navbar-nav'>
          <li ><a class = 'navbar-brand' href="{% url 'index' %}"></a>Brand</li>
          <li ><a class = 'navbar-link' href="{% url 'admin:index' %}"></a>Admin</li>
          <li ><a class = 'navbar-brand' href="{% url 'forapp:other' %}"></a>other</li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block body_block %}
      <!-- anything outside of this will be inherited if you extend -->
      {% endblock %}
    </div>

  </body>
</html>
